
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f0f1f2;
$gray-300: #e0e1e2;
$gray-400: #cdcecf;
$gray-500: #adb5bd;
$gray-600: #919aa1;
$gray-700: #55595c;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black: #000;
$blue: #293C50;
$indigo: #293C50;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4bbf73;
$teal: #20c997;
$cyan: #e9eff4;
$secondary: #e0e0e0;
$success: $yellow;
$info: $cyan;
$warning: $red;
$danger: $red;
$light: $gray-200;
$dark: $blue;
$body-color: $gray-700;
$headings-color: $gray-900;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;
$theme: "viprva-lux";
$min-contrast-ratio: 1.9;
$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: bolder;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: .75rem;
$headings-font-weight: 600;
$table-color: initial;
$table-border-color: rgba(0, 0, 0, .05);
$btn-line-height: 1.5rem;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: 2rem;
$input-btn-padding-x-lg: 2rem;
$btn-font-weight: 600;
$input-line-height: 1.5;
$input-bg: $gray-200;
$input-disabled-bg: $gray-300;
$input-group-addon-bg: $gray-300;
$form-select-disabled-color: $gray-600;
$form-select-disabled-bg: $input-disabled-bg;
$navbar-padding-y: 1.5rem;
$navbar-light-color: rgba($black, .3);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$pagination-border-color: transparent;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-border-color: $pagination-border-color;
$popover-header-bg: transparent;
$popover-header-color: var(--bs-popover-header-color);
$toast-header-background-color: transparent;
$enable-hover-media-query: true;
$enable-shadows: true;
